body {
    margin: 0;
    background-color: #222;
    color: #eee;
    
 
}
  
h1 {
    text-align: center;
    color: #eee;
    padding: 10px;
    margin: 0;
    text-decoration: underline;
    font-weight: 100;
    font-size: 22px;
}
form {
    background-color: transparent;
    padding: 20px 0px;
    margin: auto;
    max-width: 500px;
    box-shadow: 0 0 50px #eee2;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 50px;
    border-radius: 1px solid black;
    padding-bottom:15px;
    background-image: url(ASDADXDXD.jpg);
    ;
}
.form_input {
    padding:10px 20px;
}   

input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 2px solid rgb(59, 54, 54);
    background-color: transparent;
    border-radius: 6px;
    box-shadow: 0 0 2px 0 #0007;
    color: white;
    
}
 

textarea {
    resize: none;
}


